.panel {
  list-style-type: none;
}

.panelContent {
  border: 0;
}

.panels {
  display: grid; 
  grid-template-columns: 1fr; 
  gap: 64px 0px;
  justify-content: center; 
  align-content: center; 
  justify-items: center; 
  align-items: center; 
}